footer {
  padding-bottom: 6.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-family: var(--body-font-family);
}

footer .default-content-wrapper p {
  font-size: 1.8rem;
  line-height: 1.75;
  color: #000;
  font-weight: 100;
  display: flex;
  flex-direction: column;
}

footer .default-content-wrapper a {
  color: #000;
}

footer .footer-container {
  display: flex;
}

footer .footer-container .column:first-child {
  margin-right: 150px;
}

footer .footer-container ul li {
  list-style: none;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1;
  color: #000;
}

footer .footer-container ul {
  padding-left: 0;
}

footer .footer-container ul li:not(:last-child) {
  margin-bottom: 3rem
}

@media (width >= 1200px) {
  footer .footer-content-wrapper {
    display: flex;
    justify-content: space-between;
  }

  footer .default-content-wrapper p {
    flex-direction: row;
  }

  footer .footer-container ul li {
    max-width: 150px;
  }

  footer .footer-container ul li:not(:last-child) {
    margin-bottom: 5rem
  }
}

footer .work-with-us {
  align-self: flex-start;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: space-between;
  position: relative;
  padding: 1.1rem 2.5rem;
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.75;
  color: #FFF;
  transition: 0.25s;
  border-width: 2px;
  width: 220px;
  background-color: #222222;
  margin-top: 25px
}

footer .work-with-us:before {
  content: "";
  width: 60px;
  display: block;
  height: 1px;
  background-color: #FFF;
}