footer {
  padding-bottom: 6.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-family: var(--body-font-family);
}

footer .default-content-wrapper p {
  font-size: 1.8rem;
  line-height: 1.75;
  color: #000;
  font-weight: 100;
  display: flex;
  flex-direction: column;
}

footer .default-content-wrapper a {
  color: #000;
}

footer .footer-container {
  display: flex;
}

footer .footer-container .column:first-child {
  margin-right: 150px;
}

footer .footer-container ul li {
  list-style: none;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1;
  color: #000;
}

footer .footer-container ul {
  padding-left: 0;
}

footer .footer-container ul li:not(:last-child) {
  margin-bottom: 3rem
}

/* footer {
  transform: translateY(-1300px);
} */

@media screen and (min-width: 1200px) {
  footer .default-content-wrapper p {
    flex-direction: row;
  }

  footer .footer-container ul li {
    max-width: 150px;
  }

  footer .footer-container ul li:not(:last-child) {
    margin-bottom: 5rem
  }
}